.header {
    display: flex;
    justify-content: space-between;
}

.right-header {
    display: flex;
    justify-content: space-between;
}

.icon1,
.icon2,
.icon3,
.icon4,
.icon5 {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 10px;
}

.icon1 {
    background: url('./img/email.png') no-repeat center;
}

.icon2 {
    background: url('./img/Group.png') no-repeat center;
}

.icon3 {
    background: url('./img/fb.png') no-repeat center;
}

.icon4 {
    background: url('./img/twitter.png') no-repeat center;
}

.icon5 {
    background: url('./img/youT.png') no-repeat center;
}